<a href="https://colab.research.google.com/github/saicharan255/machinelearning/blob/main/Machinelearning_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question 1
#Importing library called statistics which helps in calculating mathematical data
import statistics   
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sorts age list in ascending order by default
ages.sort()
print ("Sorted age:", ages) # Displays sorted values
# Minimum age
# Displays min value as we used min() method
print ("Min age:", min(ages)) 
# Maximum age
 # Displays max value as we used max() method
print ("Max age:", max(ages))
# Adding again min and max values so we use append() method to insert values to the list
ages.append(min(ages)) 
ages.append(max(ages))
print ("Added min and max values again:",ages) #Displays the list again with new values
# Median (one middle item or two middle items divided by two, as we imported statistics library it calculates easily and provides the opt)
mdn_age = statistics.median(ages)
print ("Median age:", mdn_age)
# Average age
average= sum(ages)/len(ages)
print ("Avg age = ", average)
# Range
rng=max(ages)-min(ages)
print ("Range = ", rng)

Sorted age: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Added min and max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Avg age =  22.75
Range =  7

In [ ]:
#question 2
# Dog dictionary is created with given key and values
dog = {'name':'gipsy','color':'black','breed':'Doberman','legs':'4','age':'6'}
print ("Dog Dictionary Created:",dog)
# Student dictionary is created with given key and values
student = {'first_name':'jaya sai charan','last_name':'sammeta','Gender':'male','age':'22','marital_status':'single',
'skills':'games','Country':'India','City':'vijayawada','Address':'1-109'}
print ("Student Dictionary Created:",student)
# Create another dictionary for skills
skills = {'gamer':'1','listner':'2','influencer':'3'}
print ("Skills Dictionary Created:",skills)
# Find the length of student dictionary
print ("Length of student:", len(student))
# Check the datatype of skills
print ("Datatype fo skills:",type(skills))
# Get values of skills dictionary
print ("Values of skills:",skills.values())
# Add one item to skills
skills['artist'] = 4
print ("New skill added:",skills)
# Get dog and student key and values
print ("Dog keys:",dog.keys())
print ("Student values:",student.values())

Dog Dictionary Created: {'name': 'gipsy', 'color': 'black', 'breed': 'Doberman', 'legs': '4', 'age': '6'}
Student Dictionary Created: {'first_name': 'jaya sai charan', 'last_name': 'sammeta', 'Gender': 'male', 'age': '22', 'marital_status': 'single', 'skills': 'games', 'Country': 'India', 'City': 'vijayawada', 'Address': '1-109'}
Skills Dictionary Created: {'gamer': '1', 'listner': '2', 'influencer': '3'}
Length of student: 9
Datatype fo skills: <class 'dict'>
Values of skills: dict_values(['1', '2', '3'])
New skill added: {'gamer': '1', 'listner': '2', 'influencer': '3', 'artist': 4}
Dog keys: dict_keys(['name', 'color', 'breed', 'legs', 'age'])
Student values: dict_values(['jaya sai charan', 'sammeta', 'male', '22', 'single', 'games', 'India', 'vijayawada', '1-109'])

In [ ]:
#question3
my_sisters = ('neelima', 'uma') 
my_brothers = ('ravi','karthik','surya')
# Create another tuple as siblings and join the sister’s and brother’s tuple
siblings = my_sisters + my_brothers
# Displays siblings’ output and length of siblings
print("Siblings:", siblings)
print("Length of Siblings:", len(siblings))
# Create another tuple as family_members and add father and mother name to it
family_members = siblings + ('lakshmi','venkat')
# Displays family_members output
print("Family_members:",family_members)

Siblings: ('neelima', 'uma', 'ravi', 'karthik', 'surya')
Length of Siblings: 5
Family_members: ('neelima', 'uma', 'ravi', 'karthik', 'surya', 'Srinivas', 'Susmitha')

In [ ]:
#question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of it_companies:", len(it_companies))
#Add twitter
it_companies.add('Twitter')
print("After adding another item:",it_companies)
#Add multiple it_companies
it_companies.update({'Infosys','Capgemini','Wipro','TCS'})
print("After adding multiple items:",it_companies)
#Remove
it_companies.remove('TCS')
print("After removing one company:",it_companies)
#Discard
it_companies.discard('TCS')
print("After discarding  company:",it_companies)
#Discard doesn't raise any error if any item is not present in the set
#Join A & B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27} 
print("Join A and B:", A.union(B))
#Intersection
print("Intersection of A and B:", A.intersection(B))
#Subset
print("Subset of A and B:", A.issubset(B))
#Disjoint
print("Disjoint:", A.isdisjoint(B))
#Convert list to set
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Converting list to set:", set(age))
#Length of set
print("Length of set:",len(set(age)))
#Length of list
print("Length of list:",len(age))
#Symmetric diff- returns values which are not in common with other set
print("Symmetric diff:",A.symmetric_difference(B))
#delete set 
A.clear()
print(A)
B.clear()
print(B)

Length of it_companies: 7
After adding another item: {'IBM', 'Google', 'Microsoft', 'Apple', 'Facebook', 'Oracle', 'Amazon', 'Twitter'}
After adding multiple items: {'IBM', 'Google', 'Microsoft', 'Apple', 'Facebook', 'Wipro', 'Oracle', 'Amazon', 'Capgemini', 'Infosys', 'TCS', 'Twitter'}
After removing one company: {'IBM', 'Google', 'Microsoft', 'Apple', 'Facebook', 'Wipro', 'Oracle', 'Amazon', 'Capgemini', 'Infosys', 'Twitter'}
After discarding  company: {'IBM', 'Google', 'Microsoft', 'Apple', 'Facebook', 'Wipro', 'Oracle', 'Amazon', 'Capgemini', 'Infosys', 'Twitter'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Subset of A and B: True
Disjoint: False
Converting list to set: {19, 22, 24, 25, 26}
Length of set: 5
Length of list: 8
Symmetric diff: {27, 28}
set()
set()

In [ ]:
#question 5
# Initialise r where r value can be read from user inpt
r = int(input("enter r:"))
# Calculate area of circle and circumference of circle
_area_of_circle = 3.14*r*r 
_circum_of_circle = 2*3.14*r
# Display area of circle and circumference of circle
print("Area of Circle:",_area_of_circle)
print("Circumference of Circle:",_circum_of_circle)

enter r:30
Area of Circle: 2826.0
Circumference of Circle: 188.4

In [ ]:
#question 6
#Unique
st = "I am a teacher and I love to inspire and teach people"
# Use split method to separate the words and set to get the unique values
spt=set(st.split(" "))
print(spt)
print("Length:",len(spt))

{'inspire', 'I', 'love', 'a', 'people', 'to', 'teach', 'am', 'teacher', 'and'}
Length: 10

In [ ]:
#question 7
a= "Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki"
print(a)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [ ]:
#question 8
#Using String format method
print(f'radius = 10')
print(f'area = 3.14*radius**2')
print(f'"The area of circle with radius {r} is {3.14*r*r} meters square"')

radius = 10
area = 3.14*radius**2
"The area of circle with radius 30 is 2826.0 meters square"

In [ ]:
#question 9
#Creating a list(L1) for weights(lbs) of N students
L1=[int(num) for num in input().split(" ")]
#Creating another list called W_kg
W_kg=[]
#Using for loop to iterate the values and appending the list
for i in L1:
    W_kg.append(round(i/2.205,2))
#Displaying the values in kgs after conversion
print ("Values are:",W_kg)

150 155 145 148
Values are: [68.03, 70.29, 65.76, 67.12]